@using Genelab.UI.Models
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Iniciar sesión";
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Ingresar Genelab</title>

    <!-- Favicon-->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/Content/js/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Waves Effect Css -->
    <link href="~/Content/js/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/Content/js/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Sweet Alert Css -->
    <link href="~/Content/js/plugins/sweetalert/sweetalert.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Content/css/style.css?v=@{ @Configuration.GetSection("AppSettings")["fiinsoft_version"];  }" rel="stylesheet" />
</head>
<body class="login-page">
    <div class="login-box">

        <div class="card">
            <div class="body">

                <div class="logo">
                    <a href="javascript:void(0);">GENE<b>LAB</b></a>
                </div>


                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <hr />
                    <div class="input-group">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-10">
                            <input type="submit" value="Iniciar sesión" class="btn btn-default" />
                        </div>
                    </div>

                    <p style="text-align:right">
                        @Html.ActionLink("Registrar como nuevo usuario", "Register")
                    </p>
                    <br /><br />
                    <a data-toggle="modal" href="#" data-target="#modalRecuperar">Olvide mi contraseña?</a>
                }


            </div>
                </div>
    </div>


    <div class="modal fade" id="modalRecuperar" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Recuperar contraseña</h4>
                </div>
                <div class="modal-body">

                    <partial name="_RecuperarContrasenia" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Jquery Core Js -->
    <script src="~/Content/js/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/Content/js/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="~/Content/js/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Bootstrap Notify Plugin Js -->
    <script src="~/Content/js/plugins/bootstrap-notify/bootstrap-notify.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="~/Content/js/plugins/node-waves/waves.js"></script>
    <!-- jQuery Back Detect Js -->
    <script src="~/Content/js/plugins/jquery-backDetect/jquery.backDetect.min.js"></script>
    <!-- Validation Plugin Js -->
    <script src="~/Content/js/plugins/jquery-validation/jquery.validate.js"></script>

    <!-- SweetAlert Plugin Js -->
    <script src="~/Content/js/plugins/sweetalert/sweetalert.min.js"></script>

    <script src="~/Content/js/plugins/ajaxloader/ajaxloader.js"></script>
    <!-- Custom Js -->
    <script src="~/Content/js/src/utils.js?v=@{ @Configuration.GetSection("AppSettings")["fiinsoft_version"]; }"></script>
    <script src="~/Content/js/src/Shared/admin.js?v=@{ @Configuration.GetSection("AppSettings")["fiinsoft_version"];  }"></script>
    <script src="~/Content/js/src/Account/RecuperacionContrasenia.js?v=@{ @Configuration.GetSection("AppSettings")["fiinsoft_version"];  }"></script>
    <script src="~/Content/js/src/Account/login.js?v=@{ @Configuration.GetSection("AppSettings")["fiinsoft_version"];  }"></script>
    <script src="~/Content/js/src/Account/ManageAccount.js?v=@{ @Configuration.GetSection("AppSettings")["fiinsoft_version"];  }"></script>
</body>
</html>