@{
    ViewBag.Title = "Registrarse";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}
@model Genelab.UI.Models.RegisterViewModel

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="body">

                    <h2>@ViewBag.Title.</h2>

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Cree una cuenta nueva.</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(m => m.Nombre, new { @class = "col-md-2 control-label" })
                            <div class="col-md-4 form-custom">
                                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
                            </div>

                            @Html.LabelFor(m => m.ApellidoPaterno, new { @class = "col-md-2 control-label" })
                            <div class="col-md-4 form-custom">
                                @Html.TextBoxFor(m => m.ApellidoPaterno, new { @class = "form-control" })
                            </div>
                        </div>
                       
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(m => m.ApellidoMaterno, new { @class = "col-md-2 control-label" })
                            <div class="col-md-4 form-custom">
                                @Html.TextBoxFor(m => m.ApellidoMaterno, new { @class = "form-control" })
                            </div>

                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-4 form-custom">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <br />

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-4 form-custom">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>

                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-4 form-custom">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>

                        </div>
                        <br />
                      
                        <div class="form-group">
                            <div class="col-md-offset-10 col-md-2">
                                <input type="submit" class="btn btn-primary" value="Crear cuenta" />
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>